# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ferna\OneDrive\Área de Trabalho\TI\WorkSpace Eclipse - Maio\TesteWebStefanini\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
